{% if page == 'methodology' %}
	{% set title = 'Важные факты о преимуществах обучения в SAY YES!' %}
	{% set mixin = 'advantages__methodology' %}
{% elseif page == 'adults-courses' %}
	{% set title = 'Важные факты о курсе Английский с нуля' %}
	{% set mixin = 'advantages__adults-courses' %}
{% endif %}

<section class="advantages {{mixin}}">
	<div class="text-blocks">
		<h2 class="subtitle">Важные факты о преимуществах обучения в SAY YES!</h2>
		<div class="text-block">
			<h4 class="text-block__title">75 % практика языка</h4>
			<p class="text-block__description">Бóльшую часть занятия говорит студент</p>
		</div>
		<div class="text-blocks__columns">
			<div class="text-blocks__left">
				{% for item in advantages1 %}
					<div class="text-block {{item.class}}">
						<h4 class="text-block__title">{{item.title}}</h4>
						<p class="text-block__description">{{item.description}}</p>
					</div>
				{% endfor %}
			</div>
			<div class="text-blocks__right">
				{% for item in advantages2 %}
					<div class="text-block {{item.class}}">
						<h4 class="text-block__title">{{item.title}}</h4>
						<p class="text-block__description">{{item.description}}</p>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>
