{% set btnColor = 'yellow' %}

{% if page == 'about' %}
	{% set title = 'Школа английского языка SAY YES! С нами вы скажете «Да!» свободе общения с миром.' %}
	{% set description = 'Влюбляем в английский <br> и исполняем ваши мечты с 2013 года' %}
	{% set img = 'mainscreen-about' %}
{% elseif page == 'methodology' %}
	{% set title = 'Методика школы SA Y YES! — это оптимальный и современный способ изучения языков.' %}
	{% set description = 'Мы выбираем комбинацию из коммуникативного подхода и собственных разработок в обучении.' %}
	{% set img = 'main-screen-big-methodology' %}
{% elseif page == 'teachers' %}
	{% set title = 'Сильные и харизматичные преподаватели SAY YES! — главная причина вашего прогресса.' %}
	{% set description = 'Доверьте свой английский экспертам, кто прошел наш строгий отбор.' %}
	{% set splitImg1 = './assets/images/teachers/split-1.jpg' %}
	{% set splitImg2 = './assets/images/teachers/split-2.jpg' %}
	{% set btnText = 'Оставить заявку' %}
	{% set mixin = 'teachers' %}
{% elseif page == 'vacancies' %}
	{% set title = 'Стань онлайн или офлайн преподавателем в SAY YES!' %}
	{% set description = 'Приглашаем в  команду увлеченных единомышленников для совместного роста и реализации.' %}
	{% set splitImg1 = './assets/images/teachers/split-1.jpg' %}
	{% set splitImg2 = './assets/images/teachers/split-2.jpg' %}
	{% set btnText = 'Хочу работать преподавателем' %}
	{% set mixin = 'vacancies' %}
{% elseif page == 'progress' %}
	{% set title = 'Отчёты о прогрессе студентов SAY YES!' %}
	{% set description = 'Одна из важных особенностей нашей школы — это то, что мы замеряем разговорный навык наших студентов по прошествии некоторого времени обучения. Посмотрите, как студенты SAY YES! уверенно говорят на видео!' %}
	{% set img = 'mainscreen-progress' %}
	{% set mixin = 'progress' %}
{% elseif page == 'price' %}
	{% set title = 'Стоимость обучения в школе английского языка SAY YES!' %}
	{% set description = 'Оставьте заявку на обратный звонок, и мы подробно расскажем о ценах на курсы и действующих акциях.' %}
	{% set splitImg1 = './assets/images/teachers/split-1.jpg' %}
	{% set splitImg2 = './assets/images/teachers/split-2.jpg' %}
	{% set btnText = 'Оставить заявку' %}
	{% set mixin = 'price' %}
{% elseif page == 'adults' %}
	{% set title = 'Курсы английского языка SAY YES! для взрослых.' %}
	{% set description = 'Оставьте заявку на обратный звонок, и мы подробно расскажем о курсах, форматах обучения и стоимости.' %}
	{% set btnText = 'Оставить заявку' %}
	{% set img = 'main-screen-adults' %}
	{% set mixin = 'adults ' %}
{% elseif page == 'children' %}
	{% set title = 'Курсы английского языка SAY YES! для детей.' %}
	{% set description = 'Оставьте заявку на обратный звонок, и мы подробно расскажем о курсах, форматах обучения и стоимости.' %}
	{% set btnText = 'Оставить заявку' %}
	{% set img = 'main-screen-children' %}
	{% set mixin = 'children' %}
{% elseif page == 'education' %}
	{% set title = 'Формы обучения в школе SAY YES! для взрослых и детей.' %}
	{% set description = 'Оставьте заявку на обратный звонок, и мы подробно расскажем о курсах, формах обучения и стоимости.' %}
	{% set splitImg1 = './assets/images/teachers/split-1.jpg' %}
	{% set splitImg2 = './assets/images/teachers/split-2.jpg' %}
	{% set btnText = 'Оставить заявку' %}
	{% set mixin = 'education' %}
{% elseif page == 'companies' %}
	{% set title = 'Корпоративное обучение английскому языку в SAY YES!' %}
	{% set description = 'Предлагаем компаниям лучшее соотношение цены и качества.' %}
	{% set img = 'main-screen-companies' %}
	{% set btnText = 'Оставить заявку на звонок' %}
	{% set btnColor = 'black' %}
	{% set mixin = 'companies' %}
{% elseif page == 'adults-courses' %}
	{% set title = 'Курсы английского языка для начинающих' %}
	{% set description = 'Курс «Английский с нуля» подходит тем, кто раньше никогда не изучал английский язык или помнит совсем мало.' %}
	{% set btnText = 'Оставить заявку' %}
	{% set img = 'main-screen-adults-courses' %}
	{% set mixin = 'adults-courses ' %}
{% elseif page == 'offline' %}
	{% set title = 'Обучение английскому языку в группе офлайн в Москве' %}
	{% set description = 'Если вы живете в Москве и цените личное общение и командный дух, то данный формат для вас!' %}
	{% set btnText = 'Оставить заявку' %}
	{% set img = 'mainscreen-offline' %}
	{% set mixin = 'offline ' %}
{% endif %}

<section class="mainscreen-big mainscreen-big--{{mixin}}">
	<h1 class="title">{{title}}</h1>
	<p class="mainscreen-big__description">{{description}}</p>
	<button class="btn btn--{{btnColor}}">{{btnText}}</button>
	<img src="./assets/images/{{img}}.png" alt="Say Yes" class="mainscreen-big__img">
	<div class="split-image">
		<img src="{{splitImg1}}" alt="Say Yes" class="split-image__first-img">
		<img src="{{splitImg2}}" alt="Say Yes" class="split-image__second-img">
	</div>
</section>
