{% if page == 'about' %}
	{% set subtitle = 'Быть нашим студентом — это...' %}
	{% set videoImg = 'video-section-1' %}
	{% set videoUrl = 'https://www.youtube.com/embed/Vsfz_1QzwDA' %}
{% elseif page == 'methodology'  %}
	{% set subtitle = 'Посмотрите короткое видео о нашем подходе к обучению' %}
	{% set videoImg = 'video-section-2' %}
	{% set mixin = 'methodology' %}
	{% set videoUrl = 'https://www.youtube.com/embed/Vsfz_1QzwDA' %}
{% elseif page == 'companies'  %}
	{% set subtitle = 'Управляющий директор SAY YES! Роман Сорочук коротко расскажет о преимуществах нашего обучения и процессе работы с компаниями.' %}
	{% set videoImg = 'video-section-3' %}
	{% set mixin = 'companies' %}
	{% set videoUrl = 'https://www.youtube.com/embed/Vsfz_1QzwDA' %}
{% elseif page == 'companies-2'  %}
	{% set subtitle = 'Посмотрите короткое видео о нашем подходе к корпоративному обучению.' %}
	{% set videoImg = 'video-section-4' %}
	{% set mixin = 'companies-2' %}
	{% set videoUrl = 'https://www.youtube.com/embed/Vsfz_1QzwDA' %}
{% elseif page == 'speaking-club'  %}
	{% set subtitle = 'Посмотрите, как проходят встречи нашего разговорного клуба' %}
	{% set videoImg = 'video-section-5' %}
	{% set mixin = 'speaking-club' %}
	{% set videoUrl = 'https://www.youtube.com/embed/Vsfz_1QzwDA' %}
{% elseif page == 'offline'  %}
	{% set subtitle = 'Посмотрите видео о методике школы' %}
	{% set videoImg = 'video-section-2' %}
	{% set mixin = 'offline' %}
	{% set videoUrl = 'https://www.youtube.com/embed/Vsfz_1QzwDA' %}
{% elseif page == 'children-courses' %}
	{% set subtitle = 'Занятия онлайн — это удобно!' %}
	{% set description = ['Обучение в комфортной и безопасной для вашего ребенка обстановке.', 'Экономия времени на поездках к репетитору или в школу.'] %}
	{% set videoImg = 'video-section-6' %}
	{% set mixin = 'children-courses' %}
	{% set videoUrl = 'https://www.youtube.com/embed/Vsfz_1QzwDA' %}
{% elseif page == 'children-courses-2' %}
	{% set subtitle = 'Единственная онлайн-школа, где снимают отчеты о прогрессе учеников на видео' %}
	{% set description = ['Посмотрите не просто отзывы наших юных студентов, а то, как они говорят на английском'] %}
	{% set videoImg = 'video-section-7' %}
	{% set mixin = 'children-courses-2' %}
	{% set videoUrl = 'https://www.youtube.com/embed/Vsfz_1QzwDA' %}
{% endif %}

<section class="video-section video-section--{{mixin}}">
	<div class="video-section__info">
		<h2 class="subtitle">{{subtitle}}</h2>
		{% for paragraph in description %}
			<p class="video-section__description">{{paragraph}}</p>
		{% endfor %}
	</div>
	<div class="video">
		<img src="./assets/images/video-sections/{{videoImg}}.jpg" alt="Офлайн" class="video__bg">
		<button class="play video-btn" data-url="{{videoUrl}}"></button>
	</div>
</section>
