{% for item in courses %}
	<li class="course-img {{item.class}}">
		<img src="./assets/images/courses/{{item.img}}.png" alt="Say Yes" class="course-img__img">
		<div class="course-img__content">
			<h3 class="course-img__title">{{item.title}}</h3>
			<p class="course-img__description">{{item.description}}</p>
			<ul class="course-img__list">
				{% for lesson in item.list %}
					<li class="course-img__item">
						<div class="course-img__lesson-type">{{lesson.lessonType}}</div>
						<div class="course-img__lesson-price">{{lesson.lessonSince}}
							<span class="course-img__accent">{{lesson.lessonPrice}}</span>
							{{lesson.lessonTime}}</div>
					</li>
				{% endfor %}
			</ul>
		</div>
	</li>
{% endfor %}
