{% for teacher in allTeacherCards %}
	<div class="teacher-block">
		<div class="teacher-block__person">
			<div class="video">
				<img src="./assets/images//teachers/{{teacher.img}}.jpg" alt="Say Yes" class="video__bg">
				<button class="play video-btn" data-url="{{teacher.videoUrl}}"></button>
			</div>
			<div class="teacher-block__info">
				<h2 class="teacher-block__title">{{teacher.name}}</h2>
				<p class="teacher-block__free-lesson">Бесплатный пробный урок с этим преподавателем</p>
				<button class="btn btn--sm btn--transparent btn--transparent-black feedback-btn">Подробнее</button>
			</div>
		</div>
		<div class="subtabs">
			<div class="subtabs__nav subtabs__nav--teacher-block">
				<button class="subtabs__tab active">Обо мне</button>
				<button class="subtabs__tab">Специализации</button>
				<button class="subtabs__tab">Отзывы</button>
				{% include '../components/custom-select.twig' with {options: teacherOptions, mixin: 'custom-select--sm'} %}
			</div>
			<div class="subtabs__content">
				<div class="subtabs__item active">
					<div class="about-teacher">
						<div class="about-teacher__experience">
							{% for merits in teacher.merits %}
								<div class="about-teacher__item">
									<div class="about-teacher__item-key">{{merits.merit}}:</div>
									<div class="about-teacher__item-value">{{merits.description}}</div>
								</div>
							{% endfor %}
							<div class="about-teacher__item">
								<div class="about-teacher__item-key">Образование:</div>
								{% include '../components/education-list.twig' with {education: teacher.education} %}
							</div>
						</div>
						<p class="about-teacher__text">{{teacher.text}}</p>
					</div>
				</div>
				<div class="subtabs__item">
					{% include '../components/specializations.twig' with {list: teacher.specializationsList} %}
				</div>
				<div class="subtabs__item">
					<div class="teacher-reviews">
						{% for review in teacher.reviews %}
							<div class="teacher-reviews__review">
								<div class="teacher-reviews__info">
									<h4 class="teacher-reviews__name">{{review.name}}</h4>
									<a href="{{review.social.url}}" class="teacher-reviews__social">
										{% include '../components/icon.twig' with {class: review.social.icon} %}
									</a>
								</div>
								<p class="teacher-reviews__description">{{review.description}}</p>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<button data-share="{{teacher.shareLink}}" class="teacher-block__share-link">
			<img src="./assets/images/icons/share.svg" alt="Say Yes">
		</button>
	</div>
{% endfor %}
